target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iml
*.DS_Store

/target/
*/target/

log/*

*.pyc